<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.part.basemoudle">

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:label="@string/app_name">
        <activity android:name="com.aroutmodule.Ac">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>